/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/*End Reset*/

body{
	font-family: 'Viaoda Libre', cursive;
    background-color: rgb(100, 17, 3);

}

span{
	display:grid;
	margin: 0 auto;
    grid-template-columns:20% 20% 20% 20% 20%;
}
span:first-of-type{
	margin-left: 70px;
}


#product{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

h3{
    font-size: 150px;
	text-align: center;
    padding-top: 50px;
    color: white;
}

h4{
    font-size: 20px;
    margin-left: 30px;
    margin-bottom: 10px;
    color: white;
}

.mainimage{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 50%;
    height: 140%;
    overflow: hidden;
    margin: 0 auto;
    transition: 0.5s all ease-in-out;
}

p{
    margin-left: 150px;
    margin-right: 150px;
    padding: 50px;
    font-size: 18px;
    color: white;
}


#texture{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
figcaption{
    margin-left: 20px;
    margin-right: 30px;
    font-size: 13px;
    color: white;
}

#secondimage{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

#pigment{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding: 30px;
}
.pros{
    margin-left: 100px;
    margin-right: 20px;
    color: white;
}
.cons{

    margin-left: 50px;
    margin-right:50px;
    margin-top:100px;
    margin-bottom: 40px;
    color: white;
}
h5{
    font-size: 25px;
    font-style:oblique;
    color: white;
}

#artworks{
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
}

img{
    width: 80%;
    margin-left: 20px;
}
.distribution{
    display:flex;
    justify-content: center;
    padding: 50px;
    text-align: center;
    color: white;
}

  
.mainimage img {
    width: 100%;
    transition: 0.5s all ease-in-out;
}
  
.mainimage:hover img {
    transform: scale(1.5);
}



h1 {
    color: white;
    text-align: center;
    font-size: 40px;
    transform: rotate(90deg) skew(0deg); 
    margin-top: 100px;
    cursor: default;
   
  }
  
  .box {
    
    width: 100px;
    height: 100px;
    margin-top: 50px;
    background: #101117;
    transform: rotate(-30deg) skew(45deg);
  }
  
  .layer1 {
    display: block;
    width: 100%;
    height: 100%;
    background: rgb(255, 0, 8);
    transition: 0.5s;
  }
  
  .layer2 {

    display: block;
    width: 100%;
    height: 100%;
    background: rgb(195, 1, 8);
    transition: 0.5s;
  }
  
  .layer3 {

    display: block;
    width: 100%;
    height: 100%;
    background: rgb(113, 0, 4);
    transition: 0.5s;
  }
  
  .layer4 {
 
    display: block;
    width: 100%;
    height: 100%;
    background: rgb(49, 0, 2)n;
    transition: 0.5s;
  }
  
  .box:hover .layer4 {
    transform: translate(160px,-160px);
    opacity: 1;
  }
  
  .box:hover .layer3 {
    transform: translate(120px,-120px);
    opacity: .8;
  }
  
  .box:hover .layer2 {
    transform: translate(80px,-80px);
    opacity: .16;
  }
  
  .box:hover .layer1 {
    transform: translate(40px,-40px);
    opacity: .24;
  }
